@{
    ViewBag.Title = "Transaction";
    ViewBag.Menu = "Transaction";
    
}

<script type="text/javascript" src="~/Scripts/Feature/Transaction/alpha.transaction.js"></script>

@Html.Partial("_HeaderPartial")
<script type="text/javascript" src="~/Scripts/Feature/Transaction/alpha.transaction.js"></script>
<div class="container theme-showcase margin-bottom" data-ng-controller="tranCtrl" data-ng-init="init()">
    <div class="in row">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <h3>Accounts details</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="glyphicon glyphicon-info-sign"></span>Cash
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="form-group">
                                    <span>Credit 1</span><span class="pull-right">Details</span>
                                </div>
                                <div class="form-group">
                                    <span>Credit 1</span><span class="pull-right">Details</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <span class="glyphicon glyphicon-info-sign"></span>Credit cards
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="form-group">
                                    <span>Credit 1</span><span class="pull-right">Details</span>
                                </div>
                                <div class="form-group">
                                    <span>Credit 1</span><span class="pull-right">Details</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    <span class="glyphicon glyphicon-info-sign"></span>Loans
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>Ist account</p>
                                <p>IIst account</p>
                                <p>IIIst account</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
                                    <span class="glyphicon glyphicon-info-sign"></span>Can I use special characters?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Please use only letters, numbers, spaces and hyphens in your answers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-8">

                <table id="TransactionGrid" class="table k-grid-content" style="margin-bottom:8px;"> </table>
                <span style="cursor:default"
                      class="btn btn-default pull-left pagination-arrow"
                      ng-show="transactionGrid.gridInstance.dataSource.total()!=0">
                    No of Records :
                    {{transactionGrid.gridInstance.dataSource.total()}}
                </span>

            </div>
        </div>
    </div>

</div>
