<div class="container"> 
    <div class="navbar-header"> 
    
   
    </div> <nav class="collapse navbar-collapse" id="bs-navbar"> 
    <ul class="nav navbar-nav"> 
        <li>
            <a href="#">Home</a>
        </li>
    <li> 
        <a href="#">Transaction</a> </li>
    
    <li class="active"> 
        <a href="#">Budget</a> </li> 
    <li> 
        <a href="#">Investments</a> </li> 
    <li> <a href="#">Setting</a> </li> 
    
    </ul> </nav>
</div>