<div id="div-page-status">
    <div class="alert alert-danger main-alert-danger">
        <span id="perm-message" class="response-message"></span>
        <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
    <div class="alert alert-success main-alert-success">
        <span class="response-message"></span>
        <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
    <div class="alert alert-warning main-alert-warning">
        <span class="response-message"></span>
        <button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
</div>