/* CSS Document */
body{
	color:#5c5c5c;
	font-family: 'Lato', sans-serif;
	font-size:13px;
}
.top-menu ul> li a {
	color:#707070;
}
.top-menu ul> li a.welcome-name {
	color:#058bd4;
}
.top-menu ul> li a:hover {
	color:#058bd4;
}
.caret,
.glyphicon{
	color:#058bd4;
}
.breadcrumb-block{
	background:#f6f6f6;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
}
.breadcrumb-block  a.dropdown-toggle{
  background:#fff;
  border: 1px solid #d9d9d9;
}
.panel-primary > .panel-heading {
	background-color: #058bd4;
	border-color: #058bd4;
}
.panel-primary {
	border-color: #dadcdf;
}
.title-button {
	border-color:#6ebce6;
}
.menu button{
	background:#5b5b5b !important;
}
.menu button:hover{
	background:#6b6a6a !important;
}
.menu .dropdown-menu {
	background-color: #5b5b5b;
}
.menu .dropdown-menu > li > a {
	color:#fff;
	border-top:1px solid #737373;
	border-bottom:1px solid #4f4e4e;
}
.menu .dropdown-menu > li:hover > a {
	color:#058bd4;
	 background-color: #f5f5f5;
}
.menu .dropdown-menu > li.admin-management > a {
	background-position:10px -41px;
}
.menu .dropdown-menu > li.admin-management:hover  > a{
	background-position:-558px -41px;
}
.menu .dropdown-menu > li.preferences > a {
	background-position:10px -110px;
}
.menu .dropdown-menu > li.preferences:hover > a {
	background-position:-558px -110px;
}
.menu .dropdown-menu > li.emp-info > a {
background-position:10px -110px;
}
.menu .dropdown-menu > li.emp-info:hover > a {
background-position:-558px -110px;
}
.menu .dropdown-menu > li.prospect-listing > a {
	background-position:10px -178px;
}
.menu .dropdown-menu > li.prospect-listing:hover > a {
	background-position:-558px -178px;
}
.menu .dropdown-menu > li.plan-listing > a {
	background-position:10px -250px;
}
.menu .dropdown-menu > li.plan-listing:hover > a {
	background-position:-558px -250px;
}
.menu .dropdown-menu > li.member-listing > a {
	background-position:10px -320px;
}
.menu .dropdown-menu > li.member-listing:hover > a {
	background-position:-558px -320px;
}
.menu .dropdown-menu > li.plan-member-selection > a {
	background-position:10px -372px;
}
.menu .dropdown-menu > li.plan-member-selection:hover > a {
	background-position:-558px -372px;
}
.menu .dropdown-menu > li.initial-analysis > a {
	background-position:10px -442px;
}
.menu .dropdown-menu > li.initial-analysis:hover > a {
	background-position:-558px -442px;
}
.menu .dropdown-menu > li.contribution-model > a {
	background-position:10px -510px;
}
.menu .dropdown-menu > li.contribution-model:hover > a {
	background-position:-558px -510px;
}
.menu .dropdown-menu > li.contribution-detail > a {
	background-position:10px -585px;
}
.menu .dropdown-menu > li.contribution-detail:hover > a {
	background-position:-558px -585px;
}
.menu .dropdown-menu > li.final-analysis > a {
	background-position:10px -659px;
}
.menu .dropdown-menu > li.final-analysis:hover > a {
	background-position:-558px -659px;
}
.menu .dropdown-menu > li.pediatric-dental > a {
	background-position:10px -733px;
}
.menu .dropdown-menu > li.pediatric-dental:hover > a {
	background-position:-558px -733px;
}
.menu .dropdown-menu > li.acknowledge-agree > a {
	background-position:10px -808px;
}
.menu .dropdown-menu > li.acknowledge-agree:hover > a {
	background-position:-558px -808px;
}
.menu .dropdown-menu > li.additional-information > a {
	background-position:10px -877px;
}
.menu .dropdown-menu > li.additional-information:hover > a {
	background-position:-558px -877px;
}
.menu .dropdown-menu > li.summary > a {
	background-position:10px -952px;
}
.menu .dropdown-menu > li.summary:hover > a {
	background-position:-558px -952px;
}
.menu .dropdown-menu > li.document > a {
	background-position:10px -1025px;
}
.menu .dropdown-menu > li.document:hover > a {
	background-position:-558px -1025px;
}
.ee-panel > .panel-body th.Compare-Options h4:first-child {
        color: #058bd4;
}
.panel-heading .btn-info{
	background:#fff;
	border-color:#fff;
}
.panel-heading .btn-info:hover,
.panel-heading .btn-info:active{
	border-color:#ccc !important;
}
h1{
	color:#058bd4;
	font-size:25px;
}
.form-group .dropdown-toggle{
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}
.btn-primary {
	background-color: #058bd4;
}
.btn-primary .glyphicon{
	color: #fff;
}
.action .glyphicon{
	color:#058bd4;
}
.action-list{
	background:#5b5b5b;
}
.k-grid-header .k-header .action-list>li>a {
	color:#fff;
}
.k-grid-header .k-header .action-list>li>a:hover{
	color:#222;
}
.action-list>li>a .glyphicon {
	color:#fff;
}
.action-list>li>a:hover .glyphicon {
	color:#262626;
}
.sub-title{
	font-size:14px;
	font-weight:bold;
}
.btn:hover,
.btn:focus {
background:#e6e6e6;
}
.btn-primary:hover,  .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	border-color: #047bb7;
	background-color: #047bb7;
}
.btn-primary:focus, .btn-primary:active {
	border-color: #058bd4;
	background-color: #058bd4;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #5b5b5b;
    border-color: #5b5b5b;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background-color: #0082c8;
	color: #fff;
}
.accordion-menu .glyphicon{
	color:#fff;
}
.accordion-toggle .glyphicon{
	color:#fff;
}
.panel-default > .panel-heading {
	background-color: #058bd4;
	border-color: #ddd;
	color: #fff;
}
.table tr:nth-child(even){
	background: #f5f8fb;
}
.table tr:hover{
	background: #fbfdff;
}
.table>thead{
	background:#ededed;
}
.table > thead > tr > th {
	border-bottom: 1px solid #ddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border: 1px solid #ddd;
}
.mandatory-fields{
	color:#058bd4;	
}
.k-state-selected, .k-link.k-state-selected, .k-list > .k-state-selected, .k-list > .k-state-focused, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-button:active, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover {
	background: #0082c8;
	border-color: #ddd;
	color: #ffffff;
}
.k-state-hover, .k-link.k-state-hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-list > .k-state-hover, .k-marquee, .k-pager-wrap .k-link:hover, .k-dropdown .k-state-focused, .k-imagebrowser-dropzone {
	background: #0082c8;
	border-color: #ddd;
	color: #ffffff;
}
.k-state-selected, .k-button:active {
	background: #0082c8;
	border-color: #ddd;
	color: #ffffff;  
}
.k-pager-numbers .k-link {
    border: 1px solid #c5c5c5;
}
.k-pager-wrap > a.k-state-disabled:hover {
	background: #fff;
	color:#9f9e9e;
}
.tick ,.tick-remove{
	margin-right:10px;
}
/*Forgot Password*/
.modal-header.alert,.modal-header.alert .close{ 
	color:#fff;
}
.modal-header.alert-success{ 
	background:#058bd4;
}
#MainMenu > li > .dropdown-level2{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
	border-right:none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);	
}
#MainMenu > li > .dropdown-level2 > div > span{
	color:#058bd4;
}
#MainMenu > li > .dropdown-level2 > div > ul > li > a{
	background:url(../images/sprite.png) 11px 10px no-repeat;
	color:#5c5c5c;
}
#MainMenu.dropdown-menu > li:hover{
	background-color:#fff;
}
#MainMenu.dropdown-menu > li > a:hover,
#MainMenu.dropdown-menu > li > a:focus {
  background-color: #fff;
}
.btn-green{
	background-color: #909600;
	border-color: #909600;
} 
.additional-details-header{
	border-bottom:1px solid #dadcdf;
	padding-bottom:10px;
	color:#058bd4;
}
.reset-success{
	color:#058bd4;
	margin-top:0;
}
/*AdddClient*/
#tabs {
	background:#058bd4;
	border:1px solid #0675b1;
}
#tabs a {
	background:url(../images/tab-arrow.png) right -2px no-repeat;	
}
#tabs a span{
	color:#50aee1;
}
#tabs a span.step-number{
	border:1px solid #1e7caf;
	background:#50aee1;
	color:#058bd4;
}
#tabs li.active a span{
	color:#fff;
}
#tabs li:hover a span{
	color:#8bd6fd;
}
#tabs li.active a span.step-number{
	background:#fff;
	color:#058bd4;
	border:1px solid #0675b1;
}

#tabs li:hover a span.step-number{
	background:#8bd6fd;
	color:#1184c3;
	border:1px solid #0675b1;
}
.tab-container .addclient-panel{
	background: #fff;
	border:1px solid #dbdbdd;
}
.custom-radio{
	background: url(../images/radio_group.png) 0px -16px no-repeat;
}
.addclient-button-row{
	border-top:1px solid #dbdbdd;
}
input.pdt-number{
	color:#3e6177;
	border:1px solid #a5b5bf;
}
.tab-wrapper{
	background: #fff;
	border:1px solid #dbdbdd;	
}
.form-control::-moz-placeholder{
	color:#b5b5b5;
}
.nav-tabs > li > a{
	background:#dbeef9;
	border:1px solid #add2e6;
}
.nav-tabs > li:first-child > a{
	border-left:1px solid #add2e6;
}
.nav-tabs > li:first-child.active > a{
	border-left:1px solid #ddd;
}
.nav-tabs > li:first-child:hover > a{
	border-left:1px solid #ccc6c6;
}

.nav-tabs > li > a:hover{
	border:1px solid #ccc6c6;
}
.info-table{
	background:	#f6f6f6;
	border:1px solid #D3D3D3;
}
.border-top{border-top:1px solid #dbdbdd;}
.listgroup-roles{border:1px solid #ddd;}
.list-group-item{border-bottom:1px solid #ddd;}
.list-group-item:last-child{border-bottom: 1px solid #ddd;}
.list-group .list-group-item:first-child{background:#058BD4 ;}
.list-group-item:nth-of-type(even){background:#ffffff;}
.list-group-item:nth-of-type(odd){background:#f5f8fb;}
.listgroup-controls button{background:#f5f8fb;}
.listgroup-controls button span{background:url(../images/listcontrol_arrow.png) no-repeat;}
table.default-table tr:nth-child(odd){background:#ffffff;}
table.default-table tr:nth-child(even){background:#f2f2f2;}
table.default-table tr th{color:#686f77;background:#fff;border-bottom:1px solid #e6eaed;border:1px solid #dadcdf;}
table.default-table tr td{color:#6c6b6b;border:1px solid #dadcdf;}
table.default-table tr td.price-text{color:#f87603;}
table.colgroup2 td:nth-child(2),table.colgroup2 th:nth-child(2){background:#fef7e1;border-left:2px solid #fbda75;border-right:2px solid #fbda75;}
table.colgroup3 td:nth-child(3),table.colgroup3 th:nth-child(3){background:#fef7e1;border-left:2px solid #fbda75;border-right:2px solid #fbda75;}
table.colgroup4 td:nth-child(4),table.colgroup4 th:nth-child(4){background:#fef7e1;border-left:2px solid #fbda75;border-right:2px solid #fbda75;}
table.colgroup2 th:nth-child(2),table.colgroup3 th:nth-child(3),table.colgroup4 th:nth-child(4){border-top:2px solid #fbda75;}
table.colgroup2 tr:first-child td:nth-child(2),table.colgroup3 tr:first-child  td:nth-child(3),table.colgroup4 tr:first-child  td:nth-child(4){border-top:2px solid #fbda75;}
table.colgroup2 tr:last-child td:nth-child(2),table.colgroup3 tr:last-child td:nth-child(3),table.colgroup4 tr:last-child td:nth-child(4){border-bottom:2px solid #fbda75;}
#footer{
	background:#f6f6f6;
	border-top:1px solid #d9d9d9;
}
#footer nav ul > li a {
	color:#707070;
}
#footer nav ul > li a:hover {
	color:#058bd4;
}
.additional-details-filter button.btn-primary:hover {background:#047bb7;border-color:#0275af;color:#fff }
.additional-details-filter button.btn-primary.active {background:#006699;border-color:#2e5885;color:#fff }
.additional-details-filter1 .btn-primary.active { background-color: #5b5b5b; border-color: #5b5b5b;cursor:default}
.employee-login button.btn-primary,.employee-login button.btn-primary.active,.employer-login button.btn-primary,.employer-login button.btn-primary.active,.employee-login button.btn-primary:hover,.employer-login button.btn-primary:hover { background-color: #5b5b5b; border-color: #5b5b5b; }
.employee-login button.btn-primary:hover,.employer-login button.btn-primary:hover{cursor:default}

.employee-login button.btn-default,.employer-login button.btn-default {background-color: #428bca; border-color: #357ebd;color:#fff }
.employee-login button.btn-default:hover,.employer-login button.btn-default:hover{background-color: #047bb7;border-color: #047bb7;}
.reportpanel{border-color:#058bd4}

